*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header nav{
    
    display: flex;
    justify-content: space-between;
    padding:1rem ;
    font-size: 2rem;
    
}
header nav .top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
}
header nav .top img{
    height: 80%;
    width: 10%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
header nav .top img:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}
header nav span{
    
    font-weight: 600;
}
ul{
    display: flex;
}
ul li{
    list-style:none ;
    margin: 0rem 2rem;
    
}


section{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
section .txt{
    color:#766365;
    font-size:5rem ;
}
.img,.txt{
    display: flex;
    justify-content:center ;
    align-items: center;
    
    width: 50%;
}
.txt{
    flex-direction: column;
    width:50%;
}
.img img{
    width:100%;
    height:100%;
    
    
}
.txt button{
    margin:1.5rem;
    padding: 2rem;
    font-size: 1.5rem;
    background-color:#f9a7b7 ;
    border: 3px solid white;
    color:white;
    border-radius: 3rem;
}


h1{
    text-align: center;
    text-shadow:7px  7px 20px #f2eded;
    
}
.pic1,.pic2,.pic3,.pic4,.pic5,.pic6,.pic7{
    position: absolute;
    width: 10%;
    height: 20%;
    z-index: -999;
    
}
.pic1{
    top:5rem;
    left:10rem;
    

}
.pic2{
    top:4rem;
    right: 5rem;
}
.pic3{
    top:10rem;
    right:0rem;
    width: 20%;
    height: 30%;
}
.pic4{
    left:5rem;
    bottom: 0rem;
}
.pic5{
    bottom: 0rem;
    left:20rem;
    width: 35%;
    height: 40%;
}
.pic6{
    top: 0rem;
    left:20rem;
    width: 35%;
    height: 40%;
}
.pic7{
    top:10rem;
    left:0rem;
    height: 50%;
    width: 15%;
}
@media (prefers-color-scheme:dark)
{
    li:nth-child(4)
    {
        color:#766365;
    }
    li:nth-child(4):hover{
        color: white;
    }
    body{
        background: linear-gradient(to bottom right,blue,rgb(108, 108, 202),rgb(139, 139, 174));
    }
    ul li{
        color:white;
    }
    header nav span{
        color: white;
    }
    h1{
        color: white;
    }
    .txt button{
        background-color: blue;
    }
    .txt button:hover{
        color:rgb(61, 7, 208);
        background-color: white;
        border: 3px solid rgb(40, 16, 193);
        cursor: pointer;
        
    }
    ul li:hover{
        color:yellow;
        font-weight: 600;
        cursor: pointer;
    }
    
}
@media (prefers-color-scheme:light)
{
    li:nth-child(4)
    {
        color:white;
    }
    li:nth-child(4):hover{
        color:#766365;
    }
    body{
        background: linear-gradient(to bottom right,#f892c4,#f9a7b7,#fac6a4);

    }
    ul li{
        color:#766365;
    }
    header nav span{
        color: #766365;
    }
    h1{
        color: #766365;
    }
    .txt button{
        background-color: #f9a7b7;
    }
    .txt button:hover{
        color:rgb(222, 103, 123);
        background-color: white;
        border: 3px solid rgb(234, 101, 124);
        cursor: pointer;
        
    }
    ul li:hover{
        color:blue;
        font-weight: 600;
        cursor: pointer;
    }
}